@import "tailwindcss";

@theme {
  --color-primary-DEFAULT: #2F80ED;
  --color-primary-light: #56CCF2;
  --color-primary-dark: #1C58D9;

  --color-accent-success: #27AE60;
  --color-accent-warning: #F2C94C;
  --color-accent-danger:  #EB5757;
  --color-accent-info:    #2D9CDB;

  --color-surface-base:  #F9FAFB;
  --color-surface-muted: #F2F4F8;
  --color-surface-dark:  #1E1E2F;

  --color-text-DEFAULT: #333333;
  --color-text-muted:   #828282;

  --color-border: #E0E0E0;
}

@theme {
  --font-script: Great Vibes, cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tab-container::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
